    @page
@using EXShop.RazorPage.Infrastructure
@using EXShop.RazorPage.Services.Roles
@using EXshop.RazorPage.Infrastructure.Utils
@model EXShop.RazorPage.Pages.Admin.User.IndexModel
@inject IRoleService _roleService;
@{
    ViewData["title"] = "مدیریت کاربران";
    ViewData["selected"] = "users";
}
<form class="card shadow-lg" method="get">
    <div class="card-header text-left">
        <a asp-page="Index" class="btn btn-danger btn-sm">حذف فیلتر</a>
        <button type="submit" class="btn btn-primary btn-sm">فیلتر</button>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <label>شناسه کاربر</label>
                <input type="number" asp-for="FilterParams.Id" class="form-control" />
            </div>
            <div class="col-md-4">
                <label>شماره تلفن</label>
                <input type="text" asp-for="FilterParams.PhoneNumber" class="form-control" />
            </div>
            <div class="col-md-4">
                <label>ایمیل</label>
                <input type="text" asp-for="FilterParams.Email" class="form-control" />
            </div>
        </div>
    </div>
</form>
<a asp-page="Add" class="btn btn-success mb-2">
    <i class="fa fa-plus"></i>
    افرودن کاربر
</a>
<div class="card">
    <div class="card-body table-responsive p-0">
        <table class="table table-bordered table-hover text-center">
            <thead>
                <tr>
                    <th>عکس</th>
                    <th>نام</th>
                    <th>ایمیل</th>
                    <th>تاریخ عضویت</th>
                    <th>شماره تلفن</th>
                    <th>نقش</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.FilterResult.Data)
                {
                    var role = await _roleService.GetRoleById(item.RoleId);
                    <tr>
                        <td>
                            <img src="@Directories.GetUserImages(item.UserAvatar)" width="80px" />
                        </td>
                        <td>@item.Name @item.Family</td>
                        <td>@item.Email</td>
                        <td>@item.CreationDate.ToPersianDateTime()</td>
                        <td>@item.PhoneNumber</td>
                        <td>
                            @role.Title
                        </td>
                        <td>
@*                            <a class="btn btn-sm btn-secondary" asp-page="UserRoles" asp-route-userId="@item.Id">اجازه ها</a>
*@                            <a class="btn btn-sm btn-primary" asp-page="Edit" asp-route-userId="@item.Id">ویرایش</a>
                            <delete-item url="@Url.Page("Index","DeleteUser",new{userId=item.Id})">حذف</delete-item>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>